.picture{
    background-image: url("./assets/background.png");
    background-position: center top;
    background-repeat: no-repeat;
    min-width: 972px;
    display: block;
    background-color: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);  
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
    z-index: -1;
}
.background {
    position: relative;
}