.grPage{
    margin-bottom: 32px;
    border-top: 1px solid #000;
    padding: 0;
    margin: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}
.grPageContent{
    width: 940px;
    margin: 0 auto;
}
.grContainer{
    padding: 0;
    margin: 0;
}