.picture{
    background-image: url("/src/assets/background.png");
    background-position: center top;
    background-repeat: no-repeat;
    /* min-width: 972px; */
    display: block;

}
.background {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-image: linear-gradient(180deg, #2A475E 0%, #1B2838 80%);
    background-size: cover;
    margin: 0;
    padding: 0;
    display: block;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-and-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  max-width: 3600px; /* You can adjust this value according to your desired layout width */
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

.ImageCarousel {
  flex: 1;
  max-width: 450px; /* You can adjust this value according to your desired carousel width */
  margin-right: 20px;
}

.game-description-wrapper {
  flex: 1;
  max-width: 600px; /* You can adjust this value according to your desired game description width */
}

.page_content {
  width: 940px;
  margin: 0 auto;
  padding: 0;
  display: block;
}