#header{
    --gpSystemLightestGrey: #DCDEDF;
    --gpSystemLighterGrey: #B8BCBF;
    --gpSystemLightGrey: #8B929A;
    --gpSystemGrey: #67707B;
    --gpSystemDarkGrey: #3D4450;
    --gpSystemDarkerGrey: #23262E;
    --gpSystemDarkestGrey: #0E141B;
    --gpStoreLightestGrey: #CCD8E3;
    --gpStoreLighterGrey: #A7BACC;
    --gpStoreLightGrey: #7C8EA3;
    --gpStoreGrey: #4e697d;
    --gpStoreDarkGrey: #2A475E;
    --gpStoreDarkerGrey: #1B2838;
    --gpStoreDarkestGrey: #000F18;
    --gpGradient-StoreBackground: linear-gradient(180deg, var(--gpStoreDarkGrey) 0%, var(--gpStoreDarkerGrey) 80%);
    --gpGradient-LibraryBackground: radial-gradient(farthest-corner at 40px 40px,#3D4450 0%, #23262E 80%);
    --gpColor-Blue: #1A9FFF;
    --gpColor-BlueHi: #00BBFF;
    --gpColor-Green: #5ba32b;
    --gpColor-GreenHi: #59BF40;
    --gpColor-Orange: #E35E1C;
    --gpColor-Red: #D94126;
    --gpColor-RedHi: #EE563B;
    --gpColor-DustyBlue: #417a9b;
    --gpColor-LightBlue: #B3DFFF;
    --gpColor-Yellow: #FFC82C;
    --gpColor-ChalkyBlue: #66C0F4;
    --gpBackground-LightSofter: #6998bb24;
    --gpBackground-LightSoft: #3b5a7280;
    --gpBackground-LightMedium: #678BA670;
    --gpBackground-LightHard: #93B8D480;
    --gpBackground-LightHarder: #aacce6a6;
    --gpBackground-DarkSofter: #0e141b33;
    --gpBackground-DarkSoft: #0e141b66;
    --gpBackground-DarkMedium: #0e141b99;
    --gpBackground-DarkHard: #0e141bcc;
    --gpBackground-Neutral-LightSofter: rgba(235, 246, 255, 0.10);
    --gpBackground-Neutral-LightSoft: rgba(235, 246, 255, 0.20);
    --gpBackground-Neutral-LightMedium: rgba(235, 246, 255, 0.30);
    --gpBackground-Neutral-LightHard: rgba(235, 246, 255, 0.40);
    --gpBackground-Neutral-LightHarder: rgba(235, 246, 255, 0.50);
    --gpCorner-Small: 1px;
    --gpCorner-Medium: 2px;
    --gpCorner-Large: 3px;
    --gpSpace-Gap: 12px;
    --gpNavWidth: 240px;
    --gpPaymentsNavWidth: 340px;
    --gpDselectWidth: 340px;
    --gpSidePanelWidth: 340px;
    --gpGiftingPanelWidth: 280px;
    --gpCommunityRightPanelWidth: 320px;
    --gpVerticalResponsivePadding-Small: calc( (100vw - 854px) / 60 );
    --gpVerticalResponsivePadding-Medium: calc( (100vw - 854px) / 20 );
    --gpVerticalResponsivePadding-Large: calc( (100vw - 854px) / 12 );
    --screen-width: 100vw;
    --gpWidth-6colcap: calc((var(--screen-width) - (5 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 6);
    --gpWidth-5colcap: calc((var(--screen-width) - (4 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 5);
    --gpWidth-4colcap: calc((var(--screen-width) - (3 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 4);
    --gpWidth-3colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 3);
    --gpWidth-2colcap: calc((var(--screen-width) - (1 * var(--gpSpace-Gap)) - (2 * var(--gpSpace-Gutter))) / 2);
    --gpWidth-1colcap: calc((var(--screen-width) - (2 * var(--gpSpace-Gutter))));
    --gpStoreMenuHeight: 58px;
    --gpShadow-Small: 0px 2px 2px 0px #0000003D;
    --gpShadow-Medium: 0px 3px 6px 0px #0000003D;
    --gpShadow-Large: 0px 12px 16px 0px #0000003D;
    --gpShadow-XLarge: 0px 24px 32px 0px #0000003D;
    --gpText-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, Sans-serif;
    --gpText-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-serif;
    --gpText-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, Sans-serif;
    --gpText-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, Sans-serif;
    --gpText-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, Sans-serif;
    --gpText-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, Sans-serif;
    --gpSpace-Gutter: calc(24px + 2vw);
    color: #c6d4df;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
    background: #171a21;
}

#install-steam{
    color: #E5E4DC;
    font: 11px "Motiva Sans", sans-serif;
    background-color: #5c7e10;
    display: inline-block;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}

.next-to-logo{
        display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
}

.next-to-install{
    color: #b8b6b4;
    padding: 0 4px;
    vertical-align: top;
}