/* the entire header, everything within is a child of it*/
#global_header{
    background: #171a21;
    background-position: center top;
    min-width: 940px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 14px;
}

/* smaller container for all buttons in the header, the header is the rectangle spanning the length of the page*/
.content{
    background: #171a21;
    position: relative;
    width: 940px;
    height: 200px;
    margin: 0px auto;
    z-index: 402;
}

.logo{
    float: left;
    padding-top: 30px;
    margin-right: 40px;
    width: 176px;
    height: 44px;
}







/*store, community, about support*/
.supernav_container{
    position: absolute;
    left: 200px;
}




/*the global action menu class*/
/* the group of buttons includes install steam, language, login*/
.global_action_menu{
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
}





/* install steam button is a child of the global action menu*/
#install-steam{
    color: #E5E4DC;
    font: 11px "Motiva Sans", sans-serif;
    background-color: #5c7e10;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right: 9px;
    background-position: 10px 5px;
    background-image: url(https://store.akamai.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
    background-repeat: no-repeat;
    text-decoration: none;
    color: #e5e4dc;
    font-weight: normal;    display: inline-block;
    position: relative;
    height: 21px;
    line-height: 24px;
    margin-right: 3px;
}





/*buttons next to the steam logo, will rename to menu item*/
.menu_item{
        display: block;
    position: relative;
    padding-top: 45px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
    line-height: 16px;
    float: left;
    font-size: 14px;
    color: #b8b6b4;
    text-transform: uppercase;
}

.supernav_content{
    max-width: 132px;
    background: #000 url(https://store.akamai.steamstatic.com/public/shared/images/dd_web.jpg) top left no-repeat;
    padding: 5px 15px 10px 15px;
    box-shadow: 3px 3px 5px -3px #000;
    text-align: left;
    z-index: 500;
}


