.carousel {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: thin;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
  }
  
  .carousel img {
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 100%;
    height: auto;
  }
  
  .carousel::-webkit-scrollbar {
    height: 5px;
  }
  
  .carousel::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.arrow-btn {
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  padding: 8px 12px;
  font-size: 24px;
  pointer-events: all;
  cursor: pointer; 

}

.arrow-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}
