.mcContainer{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    padding: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
    min-height: 45px;
}
.scoreArea{
    display: block;
}
.score{
    background-color: #66CC33;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
    float: left;
}
.logo{
    background-image: url("/src/assets/mc_logo_no_text.png");
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
.words{
    float: left;
    width: 180px;
}
.metaCritic{
    font-family: "Motiva Sans", Sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 2px;
    font-size: 26px;
    line-height: 26px;
    margin-top: 4px;
    float: left;
}
.metaLink{
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    padding: 0px;
    position: relative;
    left: 2px;
    clear: left;
}
.mcA{
    text-decoration: none;
    color: #ffffff;
}
.scaryDiv{
    clear: both;
}