a {
  text-decoration: none;
  color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
}
div {
  display: block;
}
.headerContainer {
    font-family: Arial, Helvetica, sans-serif;
    color: #c6d4df;
    font-size: 12px;
}

.headerSubContainer {
    visibility: visible;
    display: block;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    height: 66px;
    min-width: 940px;
    margin-bottom: 16px;
}

.content {
  height: 66px;
  position: relative;
  width: 980px;
  margin: 0 auto;
  z-index: 300;
 
}

.controls {
  top: 8px;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 300;
  font-size: 11px;
}


.cartStatus {
  text-align: right;
  font-size: 11px;
  background-position: -34px 30px;
  box-shadow: 0 0 3px #000;
  height: 20px;
  position: relative;
  margin-left: 1px;
  border-radius: 1px;
  float: left;
  background-image: url(/public/images/v6/storemenu/background_cart.jpg);
  background-color: rgba( 164, 208, 7, 0.4 );
}

.cart {
  margin-right: 20px;
}

.cartLink {
  color: #a4d007;
  display: inline-block;
  padding: 0 25px;
  margin: 0 1px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}

.navBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 24px;
  height: 49px;
}


.navLeftCap {
  background-image: none;
}

.navBtns {
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
  box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4);
  height: 35px;
  margin: 7px 0;
}


.storeNav {
  height: 35px;
  display: flex;
}

.tab {
  padding: 1px;
  padding-left: 10px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;  
  padding-right: 10px;
  margin-right: 0px;
  background: none;
  color: #e5e5e5;
  font-size: 13px;
  line-height: 34px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  white-space: nowrap;
}

.navSpan {
  padding-right: 10px;
  margin-right: 0px;
  background: none;
  color: #e5e5e5;
    font-size: 13px;
    line-height: 34px;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    white-space: nowrap;
}

.navATag {
  padding: 1px;
  
  display: inline-block;
  text-decoration: none;
  cursor: pointer;  
  padding-right: 10px;
  margin-right: 0px;
  background: none;
  color: #e5e5e5;
  font-size: 13px;
  line-height: 34px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  white-space: nowrap;
}

.navRightCap {
  background-image: none;
}

.naveSpacer {
  flex: 1;
  width: 20px;
}

.searchBox {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 210px;
}

.navSearch {
  float: none;
  padding: 3px 4px 2px;
  height: 30px;
}

.searchForm {
  display: flex;
}

input {
  background-image: none;
  background-color: #316282;
  border-radius: 3px;
  border: 1px solid rgba( 0, 0, 0, 0.3);
  box-shadow: 1px 1px 0px rgba( 255, 255, 255, 0.2);
  margin-bottom: 0px;
  outline: none;
  height: 27px;
  padding: 0px 6px;
}

.search {
  text-align: left;
  width: 430px;
  font-family: "Motiva Sans", Sans-serif;

  top: 39px;
  right: 4px;
}

.searchBtn {
  position: absolute;
  right: 2px;
  top: 0;
}

.srchImg {
  width: 26.5px;
  height: 26.5px;
  position: absolute;
  top: 12px;
  right: 26px;
  
  background-image: url("https://store.cloudflare.steamstatic.com/public/images/v6/search_icon_btn.png");
  overflow-clip-margin: content-box;
  overflow: clip;
}
