.curator-box {
    margin: 50px 0 30px 0;}


.game_description_column-view-all {
    font-family: Arial, Helvetica, sans-serif;
    font: 11px;
    float: right;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 1px;
    color: #67c1f5;
    font-size: 11px;
    padding: 2px 4px;
    margin-right: 3px;
}

.what-curators-say {
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
}

.curator-review {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #acb2b8;
    padding: 20px;
    background: rgba( 0, 0, 0, 0.2);
}