.abContainer{
    max-height: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 14px;
    color: #acb2b8;
    font-family: Arial, Helvetica, sans-serif;
}
.abdataPanel{
    line-height: 1.5em;
    font-size: 14px;
    margin-top: 30px;
    overflow: hidden;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    color: #acb2b8;
}
.abH2{
    font-family: "Motiva Sans", Sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 10px;
    letter-spacing: 0.03em;
    font-weight: normal;
    padding-top: 2px;
    background-image: url(/src/assets/maincol_gradiant_rule.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    line-height: 26px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px
}