  
  .game_area_purchase_platform {
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .platform_img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 32px;
    height: 32px;
    margin: 0 5px;
  }
  
  .win {
    background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/icon_platform_win.png?v=3');
  }
  
  .mac {
    background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/icon_platform_mac.png');
  }
  
  .linux {
    background-image: url('https://store.cloudflare.steamstatic.com/public/images/v6/icon_platform_linux.png');
  }
  
  .game_purchase_action_bg {
    display: block;
    justify-content: right;
    align-items: center;
    max-width: 40px;
    margin-left: 450px;
  }
  
  .btn_green_steamui {
    background-color: #66c05d;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
  }
  
  .btn_green_steamui:hover {
    background-color: #5da850;
  }