.game_bundle_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114px;
    margin-top: 30px;
  }
  
  .game_bundle {
    background-color: #fff;
    padding: 10px 10px 40px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    height: 114px;
    position: relative;
    background-image: linear-gradient(to right, #6b7c93 0%, #253746 100%);
  }
  
  .game_bundle_area_purchase_platform {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  
  .bundle1_platform_img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }
  
  .win {
    background-image: url("https://cdn3.iconfinder.com/data/icons/social-media-2068/64/_Steam-512.png");
  }
  
  .mac {
    background-image: url("https://www.macworld.co.uk/cmsdata/features/3635104/Steam_logo.jpg");
  }
  
  .bundle1_h1 {
    font-size: 22px;
    margin: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  .bundle_label {
    margin-left: 10px;
    font-size: 12px;
    color: #5d5d5d;
    cursor: pointer;
    text-decoration: none;
  }
  
  .bundle_label_tooltip {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
    color: #d3d3d3;
    text-decoration: none;
    cursor: default;
  }
  
  .bundle_contents_preview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    white-space: nowrap;
  }
  
  .bundle_contents_preview a {
    margin-right: 8px;
    width: 100px;
    height: 56px;
  }
  
  .first_game_inside_bundle {
    background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/220/header.jpg?t=1578677682');
    background-size: cover;
    width: 100px;
    height: 56px;
  }
  
  .second_game_inside_bundle {
    background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/240/header.jpg?t=1578677678');
    background-size: cover;
    width: 100px;
    height: 56px;
  }
  
  .third_game_inside_bundle {
    background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/280/header.jpg?t=1567598769');
    background-size: cover;
    width: 100px;
    height: 56px;
  }
  
  .fourth_game_inside_bundle {
    background-image: url('https://steamcdn-a.akamaihd.net/steam/apps/400/header.jpg?t=1578677659');
    background-size: cover;
    width: 100px;
    height: 56px;
  }